Repository davekpatrick/action-learn-helloworld, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, git, workflow, project, code, documentation

added github workflow test
  .github/folder.md
  .github/workflows/main.yaml
  README.md
Labels: repo, workflow, documentation

fixed file name typo
  action.yml
Labels: repo

action version bump
  .github/workflows/main.yaml
Labels: workflow

docker file name fix and version bump
  .github/workflows/main.yaml
  action.yml
Labels: repo, workflow

docker file fix and version bump
  .github/workflows/main.yaml
  action.yml
Labels: repo, workflow

file name fix
  Dockerfile
Labels: repo

file case fix and version bump
  .github/workflows/main.yaml
  docker/Dockerfile
Labels: workflow

execute bit fix
  docker/entrypoint.sh
Labels: none

version bump
  .github/workflows/main.yaml
Labels: workflow

use use main ref
  .github/workflows/main.yaml
Labels: workflow

Managed by Terraform
  .gitignore
Labels: repo, git

Managed by Terraform
  LICENSE
Labels: repo

Managed by Terraform
  .gitignore
Labels: repo, git

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'
# 
git:
- any: ['**/.gitignore']
#
workflow:
- any: ['.github/**/*']
#
project:
- any: ['actions.yml']
#
code:
- any: [ 'actions.yml', 'docker/DockerFile', 'docker/**/*.sh']
#
documentation:
- any: ['**/*.md']

...
# EOF
